body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000000 url("https://image.tmdb.org/t/p/w500/5EW4TR3fWEqpKsWysNcBMtz9Sgp.jpg") no-repeat scroll center center / cover;

}

.content1 {
  display: flex;
  height: 10%;
  background-color: black;
}

.img1 {
  /*background-color: red;*/
  width: 100%;
  height: 80%;
  display: flex;
}


.content11 {
  margin-top: 1%;
  width: 20%;
  /*background-color: blue;*/
}

.content12 {
  margin-top: 1%;
  margin-left: 10%;
  width: 80%;
  /*background-color: green;*/
}

.imageSize {
  display: flex;
  justify-content: center;
}

i {
  color: #01d277;
}

input[type=text]:focus:not([readonly]),
input[type=text]:focus:not([readonly])+label {
  border-bottom: 1px solid #01d277;
  box-shadow: 0 1px 0 0 #01d277;
  color: #01d277;
}

.content2 {
  width: 38%;
  margin: 0 auto;
}

.myrow{
  position: relative;

}
.myMovies{
  position: absolute;
  left: 14%;
  top: -50px;
  width: 70%;
  height: 45vh;
  overflow: scroll;
  border: 0.5px solid black;
  color: #01d277;
  background-color: black;
  z-index: 5;
}

.myMovies li{
  padding: .5rem;
  //background: lightblue;
  margin: .1rem 0 ;
  border-radius: .2rem;
}


.grey-text.text-darken-4 {
  color: #01d277 !important;
}

.card-reveal div p:first-child {
  color:#01d277;
}